.template {
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.templateContainer {
  margin: 20px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title{
  color: blue;
}

.bodyDark {
  background-color: blue;
}

.titleDark {
  font-size: 26px;
  color: white;
}

.templateBodyDark{
  color: white;
}

.buttonDark{
  background-color: blue;
  border: none;
}