.postCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 340px; 
  border: solid 1px grey;
  padding: 25px;
  border-radius: 8px;
  margin: 25px;
}

.postsImg {
  width: 250px;
  height: 140px;
  border-radius: 5px;
}

.postsTitle {
  font-size: 20px;
}

.postsText {
  font-size: 14px;
  color: grey;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.postsDate {
  font-size: 14px;
  color: blue;
}